<div class="insider">
    <div class="heading">
        <h1>{{obj["stateName"]}}</h1>
        <h3 *ngIf = "obj['active'] > 6000" >The COVID cases are more than 6000. This state is RedZoned. STAY HOME. STAY SAFE.</h3>
        <h3 *ngIf = "obj['active'] > 2000 && obj['active'] < 6000"> The COVID cases have crossed 2000. Chances of becoming RedZone are high. Please be careful. Wear Masks. STAY HOME. STAY SAFE.</h3>
        
      
    <div class="row mx-auto justify-content-center">
        <div class="col-lg-3">
         <div class="cards">
          <div class="card-body conf">
            <p class="card-title">TOTAL CONFIRMED</p>
            <h1>{{obj["confirmed"]}}</h1>
          </div>
         </div>
        </div>
        <div class="col-lg-3">
          <div class="cards">
            <div class="card-body dec">
              <p class="card-title">
                TOTAL DECEASED
              </p>
              <h1>{{obj["deaths"]}}</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cards">
            <div class="card-body rec">
              <p class="card-title">
                TOTAL RECOVERED
              </p>
              <h1>{{obj["recovered"]}}</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cards">
            <div class="card-body act">
              <p class="card-title">
                TOTAL ACTIVE
              </p>
              <h1>{{obj["active"]}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="container" style="display: flex;">
      
      <div class="tbl1">
        <h1>DISTRICT DETAILS</h1>
        <table class="table table-striped table-dark w-auto">
          <thead>
              <tr>
                  <th *ngFor = "let title of tableHeadings">{{title}}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let details of distDetail">
                  <td *ngFor = "let i of head">{{details[i]}}</td>
              </tr>
          </tbody>
      </table>
      </div>
      <div class="tbl2" style="margin-left: 33%;">
        <h1>ZONE STATUS</h1>
        <table class="table table-striped table-dark w-auto">
          <thead>
            <tr>
              <th>District Name</th>
              <th>Zone Status</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let l of lst">
              <td *ngFor = "let h of zoneHead">
                {{l[h]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     
     
    </div>
</div>


