<ng-sidebar-container>
    <ng-sidebar [opened] = "opened">
      <button (click) = "toggleSidebar()">close</button>
      <div class="menu">
        <li><a routerLinkActive = "active" routerLink = "/home">Home</a></li>
        <li><a routerLinkActive = "active" routerLink = "/states">Overview</a></li>
        <li><a routerLinkActive = "active" routerLink = "/chart1">Data</a></li>
        <li><a routerLinkActive = "active" (click) = "logout()" style="cursor: pointer;">Logout</a></li>
      </div>
    </ng-sidebar>
    <div ng-sidebar-content class="side">
      <button (click) = "toggleSidebar()">More</button>
    </div>
  </ng-sidebar-container>    
        <div class="insider">
            <div class="heading">
                <h1>A COMPLETE OVERVIEW OF COVID-19 IN INDIA</h1>
            </div>
            <div class="row mx-auto p-5">
                <div class="col-lg">
                    <div *ngFor = "let j of stateData" class="dataContainer">
                        <h1>{{j['stateName']}}</h1>
                        <table class="table table-dark">
                            <thead>
                                <th *ngFor = "let head of heads" scope="col">
                                    {{head}}
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let k of j[j['stateName']]">
                                    <td>
                                        {{k['distName']}}
                                    </td>
                                    <td>
                                        {{k['confirmed']}}
                                    </td>
                                    <td>
                                        {{k['deceased']}}
                                    </td> 
                                    <td>
                                        {{k['recovered']}}
                                    </td>
                                </tr>
                            </tbody>              
                        </table>
                        </div>
            
                </div>
            </div>
        </div>
      
        
      
