.insider{
    background: rgb(7,84,99);
    background: -moz-linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    background: linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#075463",endColorstr="#020024",GradientType=1);
    h1{
        text-transform: uppercase;
        color: White;
    }
    table{
        background: none;
        td, th{
            border: 2px solid dodgerblue;
        }
        th{
            text-transform: uppercase;
        }
        margin-bottom: 150px;
    }
}