#container{
    .rows{
        margin-left: 38%;
        width: 50%;
        color: white;
    }
    input{
        background: none;
        color: white;
    }
    height: 100vh;
    background: linear-gradient(150deg,  rgb(23, 23, 26) 15%, #2a3147 70%, #363685 94%);
    #reg{
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    #back:hover{
            transition-duration: .5s;
            color: dodgerblue;
     
    }
}

.error {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}