<ng-sidebar-container>
  <ng-sidebar [opened] = "opened">
    <button (click) = "toggleSidebar()">close</button>
    <div class="menu">
      <li><a routerLinkActive = "active" routerLink = "/home">Home</a></li>
      <li><a routerLinkActive = "active" routerLink = "/states">Overview</a></li>
      <li><a routerLinkActive = "active" routerLink = "/chart1">Data</a></li>
      <li><a routerLinkActive = "active" (click) = "logout()" style="cursor: pointer;">Logout</a></li>
    </div>
  </ng-sidebar>
  <div ng-sidebar-content class="side">
    <button (click) = "toggleSidebar()">More</button>
  </div>
</ng-sidebar-container>


<div class="insider">
    <div class="heading">
      <h1>COVID-19</h1>
      <h3>STAY HOME. STAY SAFE. STAY UPDATED.</h3>
    </div>
    
    <div class="row mx-auto justify-content-center">
      <div class="col-lg-3">
       <div class="cards">
        <div class="card-body conf">
          <p class="card-title">TOTAL CONFIRMED</p>
          <h1>{{stateDetails[stateDetails.length-1]["confirmed"]}}</h1>
        </div>
       </div>
      </div>
      <div class="col-lg-3">
        <div class="cards">
          <div class="card-body dec">
            <p class="card-title">
              TOTAL DECEASED
            </p>
            <h1>{{stateDetails[stateDetails.length-1]["deaths"]}}</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="cards">
          <div class="card-body rec">
            <p class="card-title">
              TOTAL RECOVERED
            </p>
            <h1>{{stateDetails[stateDetails.length-1]["recovered"]}}</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="cards">
          <div class="card-body act">
            <p class="card-title">
              TOTAL ACTIVE
            </p>
            <h1>{{stateDetails[stateDetails.length-1]["active"]}}</h1>
          </div>
        </div>
      </div>
    </div>
   
    <div class="row" id="container">
      <table class="table table-striped table-dark mt-4" id="tbl">
        
        <thead class="thead-dark">
          <tr>
          <th scope = "col" *ngFor = "let state of stateHeading">{{state}}</th>
          </tr>
        </thead>
        <tr *ngFor = "let details of stateDetails | slice:startIndex:endIndex; let j = index" [routerLink] = "['/districts', getName(j)]">
          <td *ngFor = "let i of heads">
           {{details[i]}}
          </td>
        </tr>
        <nav aria-label="Page navigation example" class="pag" style="margin-left: 100%;">
          <ul class="pagination pagination-sm">
            <li *ngFor = "let i of getArrayNumber(stateDetails.length); let j = index" class="page-item"><a class="page-link" style="cursor: pointer;" (click) = "updateIndex(j)">{{j+1}}</a></li>
          </ul>
        </nav>
       </table>
       
       
       <div style="width: 50%;" id="graph" class = "mt-4">
        
        <div class="card ml-4 mb-4">
          <div class="card-body" id="chartBody">
            <h2 class="card-title">
              TOTAL COVID REPORT
            </h2>
            <canvas id = "canvas">
              {{chart1}}
            </canvas>
          </div> 
        </div>
       <div class="card ml-4">
          <div class="card-body" id="chartBody2">
            <h2 class="card-title">DAILY COVID REPORT</h2>
            <canvas id = "canvas2">
              {{chart2}}
            </canvas>
          </div>
       </div>
       </div>
    </div>
  </div>
  
  