ng-sidebar-container{
    width: 8%;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;

  
    .menu{
        
        margin-top: 2em;
        display: block;
        li{
            list-style: none;
            margin-bottom: 15px;
            a{
                display: block;
                width: 100%;
            }
        }
       
    }
    .side{
        button{
            padding: 5px;
            background: none;
            font-size: 25px;
            border: 2px solid purple;
            color: black;
            box-shadow: 0 0 20px purple;
        }
        button:hover{
            transition-duration: .7s;
            color: rgb(52, 147, 241);
        }
    }
}


::ng-deep .ng-sidebar{
    button{
        background: none;
        border: 2px solid dodgerblue;
        color: grey;
        text-transform: uppercase;
        margin-bottom: 20%;
    }
    button:hover{
        color: red;
        border-color: white;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: dodgerblue;
        margin-bottom: 20%;
    }
    a:hover{
        color: white;
    }
    background:  linear-gradient(150deg,  rgb(23, 23, 26) 15%, #2a3147 70%, #1e1e2c 94%);
    width: 300px;
    padding: 4em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
    .active{
        color: white;
    }
}



.heading{
    top: 25px;
    width: 100%;
    position: relative;
    text-align: center;
    h1{
        color: rgb(78, 76, 76);
        font-size: 70px;
        letter-spacing: 7px;
    }
    h3{
        color: grey;
        letter-spacing: 7px;
        font-size: 20px;
    }
}

.insider{
    background: rgb(7,84,99);
    background: -moz-linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    background: linear-gradient(135deg, rgba(7,84,99,1) 0%, rgba(2,2,37,1) 46%, rgba(2,0,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#075463",endColorstr="#020024",GradientType=1);
}
.row{
    padding: 10%;
  .cards{
        .card-body.conf{
            background: rgba(255,7,58,.12549);
            border-radius: 10px;
            color: red;
        h1{
            color: red;
            font-size: 50px;
        }
        h1:hover{
            transition-duration: .3s;
            font-size: 70px;
        }
        }
        .card-body.rec{
            border-radius: 10px;
            background: rgba(40,167,69,.12549);
            color: rgb(8, 194, 8);
            h1{
                font-size: 50px;
            }
            h1:hover{
                transition-duration: .3s;
                font-size: 70px;
            }
        }
        .card-body.dec{
            border-radius: 10px;
            background: rgba(108,117,125,.0627451);
            color: white;
            h1{
                font-size: 50px;
            }
            h1:hover{
                transition-duration: .3s;
                font-size: 70px;
            }
        }
        .card-body.act{
            border-radius: 10px;
            background: rgba(0,123,255,.0627451);
            color: dodgerblue;
            h1{
                font-size: 50px;
            }
            h1:hover{
                transition-duration: .3s;
                font-size: 70px;
            }
        }
    }

}


#container{
    margin-top: -80px;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    .card{
        color: white;
       background: none;
       height: auto;
    }
    table{
        width: auto;
        th{
            background: none;
            border: 2px solid;
        }
        td{
        border: 2px solid grey;
        }
        tr:hover{
            color: black;
            background: dodgerblue;
            cursor: pointer;
        }
        
        background: none;
        
        nav {
            .pagination{
               
                a{
                    color: dodgerblue;
                    background: none;
                    border: none;
                }
                a:hover{
                    transition-duration: .3s;
                    font-size: 20px;
                }
                a:focus{
                    color: white;
                }
                
            }
            
        }
    }
#chartBody{
    background: rgba(32,26,162,.12549);
   border-radius: 10px;
}
#chartBody2{
    background: rgba(255,7,58,.12549);
    border-radius: 10px;
}

}


@media(max-width:630px){
    
    ng-sidebar-container{
        width: 100%;
        position: fixed;
        top: 0;
        height: 30%;
        z-index: 1;
    
      
        .menu{
            
            margin-top: 2em;
            display: block;
            li{
                list-style: none;
                margin-bottom: 15px;
                a{
                    display: block;
                    width: 100%;
                }
            }
           
        }
        .side{
            button{
                padding: 5px;
                background: none;
                font-size: 25px;
                border: 2px solid purple;
                color: black;
                box-shadow: 0 0 20px purple;
            }
            button:hover{
                transition-duration: .7s;
                color: rgb(52, 147, 241);
            }
        }
    }

    ::ng-deep .ng-sidebar{
        border: 2px solid white;
        border-radius: 50px;
        margin-top: -30px;
        button{
            background: none;
            border: 2px solid dodgerblue;
            color: grey;
            text-transform: uppercase;
            margin-bottom: -20px;
            
        }
        button:hover{
            color: red;
            border-color: white;
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: dodgerblue;
            margin-bottom: -20%;
            margin-bottom: 10px;
        }
        a:hover{
            color: white;
        }
        background:  linear-gradient(150deg,  rgb(23, 23, 26) 15%, #2a3147 70%, #1e1e2c 94%);
        width: 100%;
        padding: 4em 3em;
        box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
        .active{
            color: white;
        }   
     
    }


    .insider{
        margin-top: -30px;
        h1{
            font-size: 50px;
        }
        h3{
            font-size: 15px;
        }
        padding: 10%;

        .cards{
            margin-bottom: 30px;
        }
        
    }

    #container{
        margin-top: 5%;
        table{
           
           th, td, tr{
              font-size: 10px;
           }
        }
        #chartBody, #chartBody2{
            margin-left: -90%;
            width: 300px;

        }
    }
}